@use "/src/variables.scss" as vars;

.default-text {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.wrapper {
  margin: 1rem 3rem 3rem 0;

  .title-editor {
    margin-bottom: 2rem;

    span {
      @extend .default-text;
    }
  }

  .body-editor {
    span {
      @extend .default-text;
    }
  }

  .actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.7rem;

    .mat-flat-button {
      display: flex;
      align-items: center;
    }

    .save .mat-flat-button {
      background-color: vars.$dodge-blue;
    }

    .cancel .mat-flat-button {
      background-color: #fff;
      color: #000;
      border: vars.$border;
    }
  }
}
