@use "/src/variables.scss" as vars;

.wrapper {
  margin-top: 1rem;

  .post {
    margin: 1rem;
    border: vars.$border;
    padding: 0.5rem 1rem;

    .title {
      display: inline-block;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 1rem;
    }
  }
}
